<!DOCTYPE html>
<html>
  <head>
    <title>Map Guide</title>

    <!-- <link rel="stylesheet" type="text/css" href="./style.css" /> -->

    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 100vh;

        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
      .button-support {
        margin: 1em auto;
        text-align: center;
      }
    </style>

    <!-- ************* ALL MATERIALIZE  -->
    <!-- Compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" /> -->

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- ************** END MATERIALIZE -->
  </head>

  <body>
    <script type="text/javascript">
      // NOTES **** IMPORTANT

      // -[0] latitude
      //     - [1] longitude
      //         - [2] Title
      //             - [3] Description
      //                 - [4] Url Link
      //                     - [5] Video Duration
      //                         > example of adding:
      // `[12.2312, 102.131232, "The Title", 'this is the paragrapgh', 'https://Your_url_toVide'${youtubeOptions}, 1600]`

      console.log("\n\n Start _____-APIs/MapSimple/src/initial.js ");
      youtubeOptions = "?autoplay=1&mute=1&controls=0&listType=playlist&rel=0";
      // *** EDIT here add more
      // AllPosition = [
      //   [18.582625336239676, 120.89739802905959, "Patapat Bridge", "One of the Famous tourist", `https://www.youtube.com/embed/cyWLLsfOqG0${youtubeOptions}`, 9000],
      //   [18.06504125349679, 120.52061717613465, "San Agustin Church of Paoay", "Famous for its Baroque-style architecture", `https://www.youtube.com/embed/4MrZPyfXKx4${youtubeOptions}`, 8000],
      //   [18.04538170398049, 120.47649604111857, "Panguil Ilocos North PH coast", "untapped by tourist", `https://www.youtube.com/embed/df-Zji5tLYc${youtubeOptions}`, 15000],
      //   [18.068983475069917, 120.56643614688097, "Batac and Laoag Ilocos North PH", "Batac and Paoay are known where one of the most controversy President of Ph grew and lived", `https://www.youtube.com/embed/0NxHUoo7wc0${youtubeOptions}`, 18000],
      //   [17.548089108584076, 120.36444527839778, "Vigan City Ilocos Sur", "Emerging surfing point in Vigan City, Caoayan", `https://www.youtube.com/embed/BnV2seHdTxI${youtubeOptions}`, 16000],
      // ];
      // 18.068983475069917, 120.56643614688097
      // AllPosition = []
      // encodGeoPosition = geoPosition.forEach(element => {
      //     AllPosition.push({ lat: element[0], lng: element[1] })
      // });

      // *** IMPORTANT BELOW
      //   toShow = document.createElement("div");
      //   toShow.setAttribute("id", "toshow");
      //   document.body.appendChild(toShow);
      iPosition = 0;
      //  **** IMPORTANT ABOVE

      var map;

      // Initialize and add the map
      function initMap() {
        // The location of StartPosition
        // const StartPosition = { lat: AllPosition[0][0], lng: AllPosition[0][1] };
        const StartPosition = { lat: 12.642891612177703, lng: 123.43474231685897 };
        // The map, centered at StartPosition
        map = new google.maps.Map(document.getElementById("map"), {
          zoom: 5,
          center: StartPosition,
          disableDefaultUI: true,
        });

        // The marker, positioned at StartPosition
        // const marker = new google.maps.Marker({
        //     position: StartPosition,
        //     map: map,
        // });
        console.log("Map Initated and Logged  Init Position");
        AllMapPosition = JSON.parse(localStorage.AllMapPosition);
        for (i = 0; i <= AllMapPosition.length; i++) {
          console.log(AllMapPosition[i]);
          MapPutMarker(AllMapPosition[i]);
          // MapPutMarker({ lat: AllMapPosition[i][0], lng: AllMapPosition[i][1] });
        }
        // MapPutMarker(AllPosition[2]);
      }

      function MapPutMarker(position) {
        setTimeout(() => {
          new google.maps.Marker({
            position: position,
            map,
            animation: google.maps.Animation.DROP,
          });
        }, 2000); // Putting the marker Animation
      }

      console.log("End _____-APIs/MapSimple/src/initial.js \n\n ");
    </script>

    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAELRe-ZcOBPDlxaPfnXhnhVatrDHbW7-4&callback=initMap&libraries=&v=weekly"></script> -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAELRe-ZcOBPDlxaPfnXhnhVatrDHbW7-4&v=3&callback=initMap"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- **** FOR MODAL VIDEOS -->
    <!-- <div class="button-support">
      <button onclick="ButtonDonate()" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud_download</i>SUPPORT<i class="material-icons right">cloud_upload</i></button>
    </div> -->
    <!-- <button onclick="StartPositionLoop()">StartPositionLoop</button> -->
    <!-- **** ENDFOR MODAL VIDEOS -->
    <!-- <script defer>
      window.addEventListener("DOMContentLoaded", (event) => {
        // console.log('DOM fully loaded and parsed');

        StartPositionLoop();
      });
    </script> -->
  </body>

  <!-- *** ENDFOR MOdAL VIDEOS -->
</html>
